<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/home.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/swiper.min.css" rel="stylesheet" />
    <link href="~/Content/artists.css" rel="stylesheet" />
    <link href="~/Content/song.css" rel="stylesheet" />
    <link href="~/Content/index_home.css" rel="stylesheet" />
    <link href="~/Content/videoss.css" rel="stylesheet" />
    <link href="~/Content/login_bootstrap.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="overflow-x:hidden">
    <div class="header">
        <span id="logo"><i class="fa fa-music"></i></span>
        <div id="search"><input type="text" id="inputSearch" placeholder="Input to search"> <span id="icon" class="fa fa-search"></span></div>
        @*
        @{
            if (Session["User"] == null)
            {
                <ul>
                    <li id="menu_login">
                        <a id="login" href="@Url.Action("Login", "AccountGG")">Log In</a>
                    </li>
                </ul>
            }
            else
            {
                <ul>
                    <li id="menu_login">
                        <a id="login" href="#">@Session["User"]</a>
                        <ul>
                            <li id="sub_menu_login">
                                <a id="logout" href="@Url.Action("Logout", "AccountGG")">Log Out</a>
                        </ul>
                    </li>
                </ul>

            }
        }
        *@
        <div class="menu_login">
            @Html.Partial("_LoginPartial")
        </div>
        
    </div>
    <input type="checkbox" style="visibility:hidden" id="check"/>
    <div id="tonggle-menu"><label for="check"><i class="fa fa-bars" id="icon-menu"></i></label></div>
    <ul class="menuBar">
        <li><i class="fa fa-home"></i>@Html.ActionLink("Home", "Index", "Home")</li>
        <li><i class="fa fa-headphones"></i>@Html.ActionLink("Songs", "Songs", "Home")</li>
        <li><i class="fa fa-user-circle"></i>@Html.ActionLink("Artists", "Artists", "Home")</li>
        <li><i class="fa fa-play-circle"></i>@Html.ActionLink("Videos", "Videos", "Home")</li>
    </ul>
  

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/swiper.min.js"></script>
    <script src="~/Scripts/home.js"></script>
    <script src="~/Scripts/artistss.js"></script>
    <script src="~/Scripts/songs.js"></script>

 
    @RenderSection("scripts", required: false)

</body>


<footer style="background:#2c3e50;">
    <hr />
    <p>&copy; @DateTime.Now.Year - Wzic</p>

</footer>
</html>
